body{
    background: linear-gradient(135deg, deepskyblue, dodgerblue, cornflowerblue);
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

.help-title{
    margin-top:220px;
    color: #e0f2fe;
    font-size: 40px;
}

.author{
    margin:auto;
    text-align: center;
    border: 1px solid grey;
    width:240px;
    height:170px;
}

.container{
    margin-top:10px;
}

.title{
    text-align: center;
    color: #e0f2fe;
    font-weight: bold;
    font-size: 48px;

    margin-top:30px;
    margin-bottom:20px;
    text-shadow:0 2px 6px rgba(0,0,0,0.2);
}

.index-button {
    width: 140px;
    padding: 12px 18px;
    font-size: 15px;
    font-weight: 600;
    color: #0b1f4b;

    background: #ffffff;
    border: none;
    border-radius: 12px;

    cursor: pointer;
    transition: all 0.25s ease;

    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

.index-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.25);
    filter: brightness(1.1);
}

.index-button:active {
    transform: scale(0.96);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.author{
    margin-top:180px;
}

.help_content{
    margin: 0 auto;
    margin-top: 10px;
    width:280px;
    height:200px;
    border: 2px;
    border-style: solid;
    border-color: grey;
    border-radius: 8px;
    line-height: 2.5;
}

.help_HowToPlay{
    width: 520px;
    margin: 30px auto;
    padding: 20px;
    border: 2px solid grey;
    border-radius: 8px;
    line-height: 1.7;
}

.help_Functions{
    width: 550px;
    margin: 30px auto;
    padding: 20px;
    border: 2px solid grey;
    border-radius: 8px;
    line-height: 1.7;
}

.br1{
    color:green;
}

.br2{
    color:yellow;
}

.br3{
    color:grey;
}

#legend{
    border:1px solid gray;
    width:200px;
    height:200px;
    margin:auto;
    padding:15px;
    border-radius:10px;
    color:dimgray;
}

.picture_confusion{
    width:150px;
    height:150px;
    background-image: url("confusion-picture.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    animation: spin 3s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

