body{
    background-color: white;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

.container{
    margin-top:100px;
}

.title{
    text-align: center;
    color: darkblue;
    font-weight: bold;
}

.index-button{
    width:120px;
    padding:15px;
    font-size:15px;
    border-radius:10px;
    cursor:pointer;
}

.author{
    margin-top:65px;
}